{% extends 'medico/base.html' %}

{% block content %}
  {% if object %}
    <h2>Editar Medico</h2>
  {% else %}
    <h2>Cadastrar Novo Médico</h2>
  {% endif %}

  <form method="POST" class="card p-3 shadow-sm">
    {% csrf_token %}

    {% for field in form %}
      <div class="mb-3">
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          <div class="text-danger">
            {% for error in field.errors %}
              <small>{{ error }}</small>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-success">
      {% if object %}Salvar Alterações{% else %}Salvar{% endif %}
    </button>
  </form>
{% endblock %}